<p class="text-[#DB952C] whitespace-nowrap sm:text-4xl max-sm:text-2xl pt-7 duration-300 ">Quote of the day</p>
<div class=" quote-text ml-24 max-sm:ml-2 max-md:ml-4 max-lg:ml-5 duration-300 ">
    <p class=" whitespace-nowrap text-black xl:text-3xl tracking-[.10em] lg:text-2xl md:text-xl max-sm:text-xs ">
        “Reality does not always give us the life that we desire, <br> <br>
        but we can always find what we desire <br> <br>
        between the pages of books.”
    </p>
    
    <h4 class=" text-end w-2/4 whitespace-nowrap text-[#DB952C] font-normal py-4 duration-300 " >Adelise M. Cullens</h4>
</div>
<div class="flex justify-end absolute bottom-32 left-0  w-full" >
    <img class="w-[900px] h-[600px] object-contain bg-no-repeat" src="../../../../assets/image/book-removebg-preview.png" alt="Image not found">
</div>

<button (click)="confirm()" type="button" class="bg-[#DB952C] px-2 py-3 cursor-pointer" >
    click here 
</button>