<menu>
    <span class="btn divide-y ">
        <button routerLink="/home-page" routerLinkActive="active"> 
            <mat-icon>home</mat-icon> HOME
        </button>
    </span>
    <span class="btn">
        <button routerLink="/book"  routerLinkActive="active"> 
            <mat-icon>book</mat-icon> BOOK
        </button>
    </span>
    <span class="btn" > 
        <button routerLink="/user" routerLinkActive="active" > 
            <mat-icon>person</mat-icon> USER
        </button>
    </span>
    <!-- <span class="btn" > 
        <button [routerLink]="['test/table-1']" routerLinkActive="active" > 
            <mat-icon>person</mat-icon> Table1
        </button>
    </span>
    <span class="btn" > 
        <button [routerLink]="['test/table-2']" routerLinkActive="active" > 
            <mat-icon>person</mat-icon> Table2
        </button>
    </span>
    <span class="btn" > 
        <button [routerLink]="['test/table-3']" routerLinkActive="active" > 
            <mat-icon>person</mat-icon> Table 3
        </button>
    </span> -->
</menu>