<div class="flex gap-2 flex-row justify-end items-center mb-3">
    <div class=" text-gray-600 focus-within:text-[#1900B4]">
        <input type="text"class="py-2 px-4 w-56 rounded-lg" placeholder="Search..." >
        <mat-icon class="absolute top-[108px] right-[130px]">search</mat-icon>
      </div>
    <span class="bg-[#1900B4] whitespace-nowrap py-2 w-20 rounded-lg" >
        <button [routerLink]="['/user/add-new']" class="text-neutral-50 w-full text-base font-family['Inter']" routerLink="register-book" >Add +</button>
    </span>
</div>
<mat-card  class="overflow-x-auto">
    <div class="min-w-[600px]">
        <table mat-table #table [dataSource]="users">
            <ng-container matColumnDef="id" >
                <th mat-header-cell *matHeaderCellDef >
                    No
                </th>
                <td mat-cell *matCellDef="let element; let i = index">
                    {{i+1}}
                </td>
            </ng-container>
            <ng-container matColumnDef="username" >
                <th mat-header-cell *matHeaderCellDef >
                    Name
                </th>
                <td mat-cell *matCellDef="let element;">
                    {{element.username}}
                </td>
            </ng-container>
            <ng-container matColumnDef="email" >
                <th mat-header-cell *matHeaderCellDef >
                    Emil
                </th>
                <td mat-cell *matCellDef="let element;">
                    {{element.email}}
                </td>
            </ng-container>
            <ng-container matColumnDef="address" >
                <th mat-header-cell *matHeaderCellDef >
                    Address
                </th>
                <td mat-cell *matCellDef="let element;">
                    {{element.address}}
                </td>
            </ng-container>
            <ng-container matColumnDef="phone" >
                <th mat-header-cell *matHeaderCellDef >
                    Phone
                </th>
                <td mat-cell *matCellDef="let element;">
                    {{element.phone}}
                </td>
            </ng-container>
            <ng-container matColumnDef="gender" >
                <th mat-header-cell *matHeaderCellDef >
                    Gender
                </th>
                <td mat-cell *matCellDef="let element;">
                    {{element.gender}}
                </td>
            </ng-container>
            <ng-container matColumnDef="action" >
                <th mat-header-cell *matHeaderCellDef  >
                    Action
                </th>
                <td mat-cell *matCellDef="let element">
                    <span class="flex justify-end gap-4">
                        <button 
                            class="cursor-pointer"
                            (click)="updateUser(element.id)"
                            matTooltip="Edit">
                            <mat-icon class="cursor-pointer text-[#1900B4]">create</mat-icon>
                        </button>
                        <button>
                            <mat-icon 
                            class="cursor-pointer text-red-500"
                            (click)="deleteUser(element.id)"
                            matTooltip="Delete">delete</mat-icon>
                        </button>
                    </span>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</mat-card>