<mat-drawer-container class="container-sidenav" autosize>
  <div *ngIf="!drawer.opened" class="btn-toggle" >
    <button type="button" mat-icon-button (click)="drawer.open()"  [@inOutAnimation]>
      <mat-icon>menu</mat-icon>
    </button>
  </div>

    <mat-drawer #drawer class="sidenav-content" mode="side" (opened)="showFiller = true" (closed)="showFiller = false" opened>
      <div class="header-sidenav">
        <h3>E-LIBRARY</h3>
        <span id="back-icon" (click)="drawer.toggle()">
          <span class='material-icons'>arrow_back_ios</span>  
        </span>
      </div>

      <div class="sidenav-menu" >
        <app-sidenav></app-sidenav>
      </div>

      <div class="compact-menu">
        <p>
          User Name
        </p>
        <span (click)="logout() " class="cursor-pointer">
          <mat-icon matTooltip="Logout" aria-hidden="false">login</mat-icon>
        </span>
      </div>
    </mat-drawer>

    <div class="min-h-screen">
      <span class="" *ngIf="isLoading">
        <app-app-loader></app-app-loader>
      </span>
      <app-breadcrumb></app-breadcrumb>
      <div class="mx-10 z-10">
        <router-outlet></router-outlet>
      </div>
    </div>

  </mat-drawer-container>