/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@tailwind base;
@tailwind components;
@tailwind utilities;

// .app-loader-dialog .mat-mdc-dialog-container .mdc-dialog__surface{
//     background-color: black !important;
//     box-shadow: none;
// }
h1,h2,h3,h4,h5,h6{
    margin: 0 !important;
    padding: 0 !important;
}
p{
    margin: 0 !important;
    padding: 0 !important;
}